*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background-image: url('https://marketplace.canva.com/EAFOPn_pKEM/1/0/1600w/canva-purple-pink-cute-bright-playful-organiser-desktop-wallpaper-VtqMkDdt_JA.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}